@import "master";

header {
  border-bottom: 1px solid #DDD;
}

header nav {
  font-weight: 600;

  ul {
    padding: 0;
    margin: 0;
    display: inline-block;

    // To remove space between navbar links.
    font-size: 0;
  }

  li {
    display: inline-block;
    width: 160px;
    color: $secondary-color;

    &:hover, &.active {
      background-color: $tertiary-color;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 1.25rem;
  }
}

