doctype html
html
  head
    title Justin Harrison
    link href="/stylesheets/application.css" rel="stylesheet"
    link rel="icon" type="image/x-icon" href="favicon.ico"
    meta charset="utf-8"
  body
    div(data-container)
      header
        .container
          nav
            ul
              li: a href="/" Justin Harrison
            ul class="pull-right"
              li class=("active" if current_page.path == "index.html")
                a href="/" About Me
              li class=("active" if current_page.path == "portfolio.html")
                a href="/portfolio.html" Portfolio
              li class=("active" if current_page.path.start_with?('blog'))
                a href="/blog/" Blog
              li: a href="/resume.pdf" Resume
      .content.container
        = yield

      footer
        .container This work is licensed under CC BY 4.0
