.container
  h1 Projects
.container.projects
  .project
    h3: a href="https://github.com/matthin/documentaries" Documentaries
    img src="images/documentaries.jpeg"
    p Ruby on Rails website built around sharing documentaries.
  .project
    h3: a href="https://github.com/matthin/teamspeak-ruby" Teamspeak Ruby
    img src="images/teamspeak-ruby.jpeg"
    p Ruby interface for TeamSpeak 3's server query api.
      Has over 8,000 dowloads through RubyGems.org, and 15 stars on GitHub.
  .project
    h3: a href="https://github.com/matthin/image_board" Image Board
    img src="images/image_board.jpeg"
    p Ruby on Rails danbooru-style image board
  .project
    h3: a href="http://localbuy.me/tickets/" Tickets
    img src="images/localbuy-me.jpeg"
    p Website built around the idea of selling tickets to events.
      Made using Ruby on Rails, HAML, and ZURB Foundation 4.
  .project
    h3 Pax Atlas
    img src="images/pax-atlas.png"
    p Grand strategy video game built with C++ and the SFML framework.
      Uses JSON files to allow easy modifications.
  .project
    h3: a href="http://github.com/matthin/AverageFrame" Average Frame
    img src="images/average-frame.png"
    p Java application which calculates the average pixel
      arrangement out of each frame.

.container
  h1 Work Experience
.container.jobs
  .job
    h3: a href="https://thenextwave.biz" The Next Wave
    .position Ruby Developer / Server Maintainer
    .length June 2014 - Febuary 2015
    ul
      li Migrated Teambox to the community ran fork Crewmate. Upgraded Ruby
         version from 1.8.7 to 1.9.3 to make use of security fixes and
         perfomance upgrades for Crewmate.
      li Installed the employee scheduling application OpenSkedge. Ran into
         a few compatibility issues. One of which needed a modification of
         the source code.
      li Integrated CloudFlare with Cpanel, Apache, and multiple Wordpress
         websites.
      li General server maintance such as restoring database backups, fixing
         DNS issues, and solving Apache configuration issues.
  .job
    h3: a href="http://www.healthsecuritysolutions.com/" Health Security Solutions
    .position Ruby Developer
    .length August 2014 - November 2014
    ul
      li Installed Open Project on a Digital Ocean droplet. Alongside a
         custimization of Open Project to match the company's public image.
  .job
    h3: a href="https://localbuy.me/" LocalBuy.me
    .position Ruby Developer
    .length August 2014 - November 2014
    ul
      li Developed localbuy.me/tickets, an event ticket selling website
         built with Ruby on Rails 4 and Ruby 2.1.
      li Migrated DNS hosting from a self-hosted BIND server to CloudFlare
         to make use of DDoS protection.
  .job
    h3: a href="http://netacar.ie" Netacar
    .position Ruby Developer
    .length May 2015 - June 2015
    ul
      li Fixed broken search sliders on a HTML5 form by adding text input support,
         removing incompatible JavaScript libraries, and sanitizing user
         input on the back-end.

